<div class="comments">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{comment.author}}
      {{comment.date}}
    </div>
    <div class="panel-body">
      {{comment.content}}
      <button {{action 'deleteComment' comment}} class="btn auto-butt" id="delete-butt">DELETE COMMENT</button>
      {{update-comment comment=comment updateComment="updateComment"}}
    </div>
  </div>
</div>
