<div class="comments">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{comment.author}}
      {{comment.date}}
    </div>
    <div class="panel-body">
      {{comment.content}}
      <button {{action 'deleteComment' comment}}>DELETE COMMENT</button>
    </div>
  </div>
  {{update-comment comment=comment updateComment="updateComment"}}
</div>
