{{#if addNewBlog}}
  <form>
    <div class="form-grape">
      <label for="author">Author</label>
      {{input value=author id="author" class="author"}}
    </div>
    <div class="form-grape">
      <label for="date">Date</label>
      {{input type="date" value=date id="date" class="date"}}
    </div>
    <div class="form-grape">
      <label for="title">Title</label>
      {{input value=title id="title" class="title"}}
    </div>
    <div class="form-grape">
      <label for="content">Content</label>
      <br>
      {{textarea value=content class="content"}}
    </div>
    <button {{action 'saveBlog'}} class="btn">BLOG</button>
    <button {{action 'cancel'}} class="btn">CANCEL</button>
  </form>
{{else}}
  <button {{action 'showBlogForm'}} class="btn" id="blog-butt">BLOG THIS BLOG</button>
{{/if}}
