{{new-blog saveBlog="saveBlog"}}
<br>
{{#each model.blogs as |blog|}}
  {{#link-to 'blog' blog.id class="blog-link"}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>{{blog.title}}
      <span id="author-style">by {{blog.author}}</span><br><span id="date-style">{{blog.date}}</span></h2>
    </div>
    <div class="panel-body">
      <p>{{blog.content}}</p>
    </div>
  </div>
  {{/link-to}}
{{/each}}
